.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputContainer {
  display: flex;
  width: 500px;
  flex-direction: column;
}
.urlInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3cbc8d;
  color: white;
}
.shortenButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
